html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 18px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1000;
    background-color: black;
    box-sizing: border-box;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin-top: 40px;
    padding: 0 40px;
}

h2 {
    font-size: 22px;
    color: white;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo img {
    width: 50px;
    height: auto;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding-left: 0;
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    box-sizing: border-box;
}

footer a {
    color: white;
    text-decoration: none;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-icon.youtube i {
    color: red;
}

.social-icon.telegram i {
    color: #0088cc; 
}

.social-icon.instagram i {
    color: #E1306C;
}

.about-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
}

.about-info p {
    line-height: 1.5;
    color: white;
    text-align: justify;
}

.about-info img {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.about-info a {
    text-decoration: none;
}

em {
    color: #d3b0a2;
}

strong {
    color: #6cb8e0;
}

.album-card {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 15px;
    width: 180px;
    transition: transform 0.3s ease;
    flex: 0 0 auto;
    gap: 16px;
}

.album-card img {
    width: 100%;
    border-radius: 12px;
}

.album-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: black;
    text-align: center;
}

.album-info h3, .song-info h3 {
    font-size: 18px;
    white-space: normal; 
    word-break: break-word;
    margin: 0;
}

.album-info p, .song-info p {
    font-size: 16px;
    white-space: normal; 
    word-break: break-word;
    margin: 0;
}

.albums-container {
    display: flex;
    gap: 20px;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    padding: 15px;
    width: 84%;
    scrollbar-width: none;
    list-style: none;
    margin: 0;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.prev-btn, .next-btn {
    display: flex;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 100%;
    color: rgb(255, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border: 0;
    padding: 0;
    cursor: pointer;
    flex-shrink: 0;
    transition: background 0.3s ease
}

.songs-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
    list-style: none;
    margin: 0;
}

.song-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 6px 15px;
    transition: transform 0.3s;
}

.song-cover {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    flex-shrink: 0;
}

.song-info {
    display: flex;
    flex-direction: column;
    flex: 0 0 160px;
    gap: 6px;
}

.duration {
    font-size: 16px;
}

.play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6cb8e0;
    border: none;
    padding: 0;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.play-btn:active {
    transform: scale(0.95);
}

.progress-bar {
    -webkit-appearance: none;
    appearance: none;
    flex-grow: 1;
    cursor: pointer;
    outline: none;
    height: 6px;
    background: #ccc;
    border-radius: 16px;
    background: linear-gradient(to right, black var(--progress, 0%), #ccc var(--progress, 0%) 100%);
}

.progress-bar::before {
    content: '';
    position: absolute;
    height: 6px;
    background: black;
    border-radius: 16px;
}

.progress-bar::-webkit-slider-runnable-track, .progress-bar::-moz-range-track {
    height: 6px;
    background: #ccc;
    border-radius: 16px;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #6cb8e0;
    border-radius: 100%;
}

.progress-bar::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #6cb8e0;
    border-radius: 100%;
}

.progress-bar::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgb(108, 184, 224, 0.3);
}

.progress-bar::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgb(108, 184, 224, 0.3);
}


/* Мобильная версия (до 768px) */
@media (max-width: 768px) {   
    html {
        scroll-padding-top: 90px;
    }
    
    body {
        font-size: 14px;
    }

    header {
        flex-direction: column;
        gap: 10px;
        padding: 15px 20px;
    }

    header a {
        text-decoration: underline;
    }

    section {
        padding: 0 20px;
        margin-top: 40px;
    }
    
    nav ul {
        flex-direction: row;
        gap: 15px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 25px 20px;
    }

    footer a {
        text-decoration: underline;
    }

    .social-media {
        gap: 10px;
    }

    .social-icon {
        font-size: 30px;
    }

    .about-info {
        flex-direction: column-reverse;
        padding: 0, 20px;
        gap: 10px;
    }

    .about-info p {
        font-size: 14px;
        margin: 0;
    }

    .about-info img {
        width: 100%;
        height: auto;
        padding-top: 15px;
    }

    .about-info a {
        text-decoration: underline;
        color: #6cb8e0;
    }

    .album-card {
        width: 120px;
        gap: 10px;
    }

    .album-card h3, .song-info h3 {
        font-size: 14px;
    }

    .album-info p, .song-info p {
        font-size: 12px;
    }

    .album-info {
        gap: 2px;
    }

    .prev-btn, .next-btn {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .song-cover {
        width: 40px;
        height: 40px;
    }

    .song-card {
        gap: 10px;
    }

    .song-info {
        flex: 0 0 130px;
        gap: 4px;
    }

    .duration {
        font-size: 13px;
    }
    
    .play-btn {
        font-size: 12px;
        width: 25px;
        height: 25px;
    }

    .progress-bar {
        width: 100%;
        max-width: 100%;
    }
}

/* Десктопная версия (от 1024px) */
@media (min-width: 1024px) {
    .logo h1 {
        font-size: 24px;
    }

    .album-card {
        width: 180px;
    }

    .social-icon {
        font-size: 28px;
    }
}

@media (max-width: 320px) {
    .progress-bar {
        display: none;
    }
    
    .duration {
        display: none;
    }
}

@media (hover: hover) {
    a:hover {
        text-decoration: underline;
    }

    .social-icon:hover {
        opacity: 0.8;
    }

    .about-info a strong:hover {
        text-decoration: underline;
        color: #0056b3;
    }

    .album-card:hover {
        transform: scale(1.05);
    }

    .prev-btn:hover, .next-btn:hover {
        background-color: rgb(255, 255, 255, 0.3);
    }

    .song-card:hover {
        transform: scale(1.02);
    }

    .play-btn:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }
}
